body {
  margin: 0;
  background-color: #ddcdfd;  /* Light gray background */
  font-family: 'Montserrat', Arial, sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f0ff;  /* White background for the app container */
}

main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

section {
  margin: 40px 0;
  padding: 20px;
  background-color: #ffffff;  /* White background for sections */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.App img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

html {
  scroll-behavior: smooth;
}
